*~

/data
/data/*
/media
/static
/static/*
!.gitignore
.DS_Store

*/__pycache__/
*/__pycache__/*
/.idea
/.idea/*



/node_modules
/node_modules/*
package-lock.json

/build/node_modules
/build/node_modules/*
/build/package-lock.json

