{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="question_list">
        <div class="question_list_item card border-dark">
            <div class="card-body" >
                <div class="row">
                    <div class="col-2 question_list_item_left">
                        <img class="question-avatar" height="70" width="70" src="media/no_avatar.png">
                        <span class="raiting">
                            <b>4</b>
                            <i class="fas fa-thumbs-up"></i>
                            <i class="fas fa-thumbs-down"></i>
                        </span>
                    </div>
                    <div class="col-10">
                        <a href="#" class="question_list_item_head">
                            How to build a moon park ?
                        </a>
                        <div class="question_list_item_text">
                            Guys, u have trouble with a moon park.
                            Can't fund in block-jack. can u help me with taht problem please...
                        </div>
                        <div class="question_list_item_bottom row">
                            <div class="col-5">
                                <a href="#">answers: 3</a>
                            </div>
                            <div class="question_list_item_bottom_tags col-7">
                                Tags:
                                <a href="#">Python</a>,
                                <a href="#">MySQL</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="question_list_item card border-dark">
            <div class="card-body" >
                <div class="row">
                    <div class="col-2 question_list_item_left">
                        <img class="question-avatar" height="70" width="70" src="media/no_avatar.png">
                        <span class="raiting">
                            <b>4</b>
                            <i class="fas fa-thumbs-up"></i>
                            <i class="fas fa-thumbs-down"></i>
                        </span>
                    </div>
                    <div class="col-10">
                        <a href="#" class="question_list_item_head">
                            How to build a moon park ?
                        </a>
                        <div class="question_list_item_text">
                            Guys, u have trouble with a moon park.
                            Can't fund in block-jack. can u help me with taht problem please...
                        </div>
                        <div class="question_list_item_bottom row">
                            <div class="col-5">
                                <a href="#">answers: 3</a>
                            </div>
                            <div class="question_list_item_bottom_tags col-7">
                                Tags:
                                <a href="#">Python</a>,
                                <a href="#">MySQL</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="question_list_item card border-dark">
            <div class="card-body" >
                <div class="row">
                    <div class="col-2 question_list_item_left">
                        <img class="question-avatar" height="70" width="70" src="media/no_avatar.png">
                        <span class="raiting">
                            <b>4</b>
                            <i class="fas fa-thumbs-up"></i>
                            <i class="fas fa-thumbs-down"></i>
                        </span>
                    </div>
                    <div class="col-10">
                        <a href="#" class="question_list_item_head">
                            How to build a moon park ?
                        </a>
                        <div class="question_list_item_text">
                            Guys, u have trouble with a moon park.
                            Can't fund in block-jack. can u help me with taht problem please...
                        </div>
                        <div class="question_list_item_bottom row">
                            <div class="col-5">
                                <a href="#">answers: 3</a>
                            </div>
                            <div class="question_list_item_bottom_tags col-7">
                                Tags:
                                <a href="#">Python</a>,
                                <a href="#">MySQL</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination_wrapper">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        </ul>
    </div>
{% endblock %}


