{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card border-primary mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 col-lg-2 question_left">
                <img class="question-avatar" height="120" width="120" src="media/avatars/no_avatar.png">
                <span class="raiting">
                    <b>4</b>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-thumbs-down"></i>
                </span>
            </div>
            <div class="col-md-9 col-lg-10 question_right">
                <div>
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick e.</p>
                </div>
                <div>
                    Tags:
                    <a href="#">Python</a>,
                    <a href="#">MySQL</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="answer_list_item card border-dark">
    <div class="card-body" >
        <div class="row">
            <div class="col-2 answer_list_item_left">
                <img class="question-avatar" height="70" width="70" src="media/avatars/no_avatar.png">
                <span class="raiting">
                    <b>4</b>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-thumbs-down"></i>
                </span>
            </div>
            <div class="answer_list_item_right col-10">
                <div>
                    Guys, u have trouble with a moon park.
                    Can't fund in block-jack. can u help me with taht problem please...
                    s
                </div>
                <div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                      <label class="form-check-label" for="inlineCheckbox1">Correct</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="answer_list_item card border-dark">
    <div class="card-body" >
        <div class="row">
            <div class="col-2 answer_list_item_left">
                <img class="question-avatar" height="70" width="70" src="media/avatars/no_avatar.png">
                <span class="raiting">
                    <b>4</b>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-thumbs-down"></i>
                </span>
            </div>
            <div class="answer_list_item_right col-10">
                <div>
                    Guys, u have trouble with a moon park.
                    Can't fund in block-jack. can u help me with taht problem please...
                </div>
                <div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1">
                      <label class="form-check-label" for="inlineCheckbox1">Correct</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <hr/>
<form>
    <div class="form-group">
        <textarea class="form-control" id="new-question" rows="3" placeholder="Enter your answer..."></textarea>
    </div>
        <button type="submit" class="float-right btn btn-primary">Submit</button>

</form>
{% endblock %}